*
{
margin:0;
padding:0;
}
header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(shopping1.jpg);
    height:100vh;
    background-size:cover;
    background-position:center;
}
.a1
{
   float:right;
    list-style:none; 
}
.a2
{
    padding: 0;
border: none;
background: none;
    color: snow;
    font-size: 27px;
    font-style: italic;
}
.main-nav
{
    float:left;
    list-style:none;
}
.main-nav li
{
    display:inline-block;
    padding:5px 20px;
    font-size:30px;
}
.main-nav li a
{
    color:white;
    text-decoration:none;
}
.main-nav li button:hover
{
    text-shadow: 2px 2px ;
    color:salmon;

}
body
{
    font-family:monospace;
}
h1
{
    color:white;
    margin-left:200px;
}
#p1
{
    font-size:30px;
    text-decoration:none;
    font-style:italic;
    color:white;
}
#ab
{
 text-align:right;
    color:white;
font-size: 30x;
}
